.pantalla{
    position: relative;
    background-color: yellow;
    width: 1000px;
    height: 408px;
    overflow: hidden;
    left:-29px;
    
}

.cubo-hielo{
    width: 80px;
    height: 80px;
}

.oso{
    height: 437px;
    width: 319px;
    right: 198px;
    bottom: 52px;

}

.nube1{
    top: 31px;
    left: 36px;
}

.nube2{
    top: 31px;
    right: 36px;
}