.pantalla{
    position: relative;
    background-color: yellow;
    width: 1000px;
    height: 408px;
    overflow: hidden;
    left:-29px;
    
}

.cuboHielo{
    width: 80px;
    left: 70px;
    bottom: 20px;
    cursor: pointer;

}

.pezEspinas{
    width: 90px;
    left: 290px;
    bottom: 30px;
    cursor: pointer;

}

.osito{
    height: 437px;
    width: 319px;
    right: 198px;
    bottom: 52px;


}

.nube1{
    top: 31px;
    left: 36px;
}

.nube2{
    top: 31px;
    right: 36px;
}