*{
    padding: 0;
    margin: 0;
}

.Escenario-Completo{
    width: 100%;
    height: 100vh;
}

.Fondo{
    background-image: url('../Assets/imagenes-miguel/caminos-desiertos.jpg');
    min-height: 100vh; 
    background-size: cover;
}