.pantalla{
    position: relative;
    background-color: yellow;
    width: 1500px;
    height: 408px;
    overflow: hidden;
    left:-29px;
    
}

.fondo{
    width: 1700px;
    height: 500px;
    right: -260px;
    
}

.cuboHielo{
    width: 90px;
    left: 90px;
    bottom: 90px;
    cursor: pointer;
}

.pezEspinas{
    width: 95px;
    left: 490px;
    top: 450px;
    cursor: pointer;
}

.osito{
    height: 437px;
    width: 319px;
    left: 670px;
    top: -15px;
    bottom: 52px;
}
.osito:hover{
    transform: rotate(-1deg) scale(1.05);
    filter: drop-shadow(2px 2px 2px #55c4ff);
}


.pinguino{
    left: 200px;
    top: 90px;
    bottom: 52px;
    overflow: hidden;
}
.pingui:hover{
    transform: rotate(-1deg) scale(1.05);
    filter: drop-shadow(2px 2px 2px #55c4ff);
}

.nube1{
    top: 31px;
    left: 36px;
}

   
.nube2{
    top: 31px;
    right: 36px;
}

.igu{
    width: 300px;
    left: 990px;
    top: 90px;
    bottom: 20px;
    cursor: pointer;
}