.lottie-leon{
    animation: moverse 11s linear ;
}

.aura{
    filter: drop-shadow(0 0 8px yellow)
            drop-shadow(0 0 10px yellow)
            drop-shadow(0 0 15px gold);
    animation: parpadeo 2.5s ease-in-out infinite;
}

.Fondo{
    background-image: url('../Assets/imagenes-miguel/caminos-desiertos.jpg');
    min-height: 100vh; 
    width: 100%;
    height: 100%;
    background-size: cover;
}

@keyframes moverse {
    0% { transform: translateX(0); }
    46.36%{ transform: translateX(-24vw); }
    54.64% { transform: translateX(-24vw); }
    85% { transform: translateY(-3vw) translateX(-20vw); }
    90% { transform: translateY(-7vw) translateX(-18vw);}
    100% { transform: translateY(-9vw) translateX(-20vw); }
}

@keyframes parpadeo{

    0%,100%{
        filter:
            drop-shadow(0 0 2px rgba(255, 230, 80, 0.35))
            drop-shadow(0 0 5px rgba(255, 215, 0, 0.25));
    }

    50%{
        filter:
            drop-shadow(0 0 8px rgba(255, 230, 80, 0.55))
            drop-shadow(0 0 10px gold);
    }

}